
.navbar-brand {
    width: 80%;
}
.bg-default {
    background-color: #ff7900;
}
.nav-link {
    font-weight: bold;
    font-size: 130%;
    color: black!important;
}
.nav-selectedlink {
    color: white!important;
}
.footer{
    background-color: black;
    border-color: black;
    color:white;
    text-align: center;
    padding-top: 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.categories-container{
    padding: 24px 16px;
    background-color: #f4f4f4;
}
.categories-list{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}
.category-container{
    float: left;
    text-align: center;
    width: 250px;
}
.category{
    display: block;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    width: 80%;
    background: #fafafa;
    box-shadow: 0 0 27px rgb(0 0 0 / 15%);
    border-radius: 6px;
    transition: all .2s;
    height: 150px,
}
.logo-category{
    margin-top: 10px;
}
.w-100{
    width: 100%;
}
.fitContent{
    width: fit-content;
}
.category-title{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

.presentation-text{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding: 40px 400px;
}
.centered-horizontally{
    margin-left: auto;
    margin-right: auto;
}

.normal-button{
    background-color: #ff7900;
    border-color: #ff7900;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 1.2rem;
}

.section-purpouse{
    margin-bottom: 100px;
}
article{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    margin-bottom: 40px;
    position: relative;
}
.sectionproducts{
    margin: 0;
    padding-right: 0;
    width: 100%;
    overflow: visible;
    display: inline-block;
    margin: 20px auto;
}
.imagenprod{
    height: 182px;
}
.imgprd{
    height: 182px;
    display: block;
    color: transparent;
    width: 100%;
    border-radius: 6px;
    border: 0;
}
.descprod{
    height: 200px;
    background: #f7f8f9!important;
    border: 0;
    padding: 8px 10px 14px;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
}

.titletextdesc{
    font-size: .8rem;
    color: #7b7b7b;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10px;
    height: 22px;
    overflow: hidden;
}
.titletextdesch3{
    color: #333;
    font-size: 1.063rem;
    font-weight: 400;
    height: 48px;
    line-height: 1.2;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 0.4em 0;
    width: 100%;
}
.descuento{
    background: #fff;
    color: #e10d33;
    float: right;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 7px;
    border: 2px solid #e10d33;
    font-size: .875rem;
    font-weight: 700;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 4.5rem;
    border-radius: 6px;
}
.extras{
    float: left;
    text-align: left;
}
.vendidos{
    font-size: .813rem;
    margin-bottom: 3px;
    color: #666;
    float: left;
    margin-top: 5px;
    line-height: 1rem;
}
.precio{
    float: right;
    margin-top: 5px;
    text-align: right;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    margin-right: 0;
}
.actual{
    font-size: 1.2rem!important;
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
    line-height: 1rem;
    color: #e10d33;
    margin-right: 0;

}
.title-descuento{
    color: #888;
    margin: 4px 0;
    text-transform: uppercase;
    font-size: .7rem;
    margin-right: 0;
    line-height: 1rem;
}
.antes{
    color: #6f6f6f;
    display: block;
    font-size: .7rem;
    text-decoration: line-through;
    line-height: 1rem;
    margin-right: 0;
}
.container-products{
    width: fit-content;
    margin: 0 auto;
}
.containerdataus{
    display: block;
    float: left;
    position: absolute;
    color: white;
    top: 300px;
    width: 30%;
    left: 60%;
    text-align: center;
}
.nosotrostitle{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 500%;
}
.nosotrostitledetail{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
}
.objetivotitle{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.objetivotitledetail{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 140%;
}
.exclusiveoffer{
    display: block;
    float: left;
    position: relative;
    bottom: 260px;
    right: 30%;
}
.cardmembers{
    min-width: 240px;
    margin: 10px
}
.imggroup{
    border-radius: 50%;
}
.marginauto{
    margin: 0 auto;
    width: fit-content;
    justify-content: space-between;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}